<div class="mat-elevation-z8 p-4">
  <!-- Filtro -->
  <mat-form-field appearance="outline" class="w-full mb-4">
    <mat-label>Buscar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtra por cualquier campo">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" matSort class="mat-table">

    <!-- ID Solicitud -->
    <ng-container matColumnDef="idSolicitud">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.idSolicitud}} </td>
    </ng-container>

    <!-- Usuario -->
    <ng-container matColumnDef="usuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.usuario?.user}} </td>
    </ng-container>

    <!-- Bus -->
    <ng-container matColumnDef="bus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bus </th>
      <td mat-cell *matCellDef="let element"> {{element.bus?.placa}} </td>
    </ng-container>

    <!-- Descripción de Falla -->
    <ng-container matColumnDef="descripcionDeFalla">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Falla </th>
      <td mat-cell *matCellDef="let element"> {{element.descripcionDeFalla}} </td>
    </ng-container>

    <!-- Repuestos -->
    <ng-container matColumnDef="repuestos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Repuesto </th>
      <td mat-cell *matCellDef="let element"> {{element.repuestos?.nombreRepuesto}} </td>
    </ng-container>

    <!-- Herramientas -->
    <ng-container matColumnDef="herramientas">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Herramienta </th>
      <td mat-cell *matCellDef="let element"> {{element.herramientas?.nombreHerramienta}} </td>
    </ng-container>

    <!-- Cantidad -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- Estado -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <!-- Filas -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- Paginador -->
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
